<ng-container *ngIf="cars.length > 0; else elseTemplate">
  <ul [ngClass]="getGridClasses()">
    <ng-container *ngIf="isAdmin; else elseTemplate">
      <app-card
        *ngFor="let item of reservations; trackBy: trackResById"
        [car]="getCarByReservation(item.car_id)"
        [reservation]="item"
        [isAdmin]="isAdmin"
      />
    </ng-container>
    <ng-template #elseTemplate>
      <app-card *ngFor="let item of cars; trackBy: trackById" [car]="item" />
    </ng-template>
  </ul>
</ng-container>
<ng-template #elseTemplate>
  <h2 class="text-4xl mt-16 font-medium">
    {{
      isAdmin ? "Jelenleg nincsenek foglalások!" : "Jelenleg nincs szabad autó!"
    }}
  </h2>
</ng-template>
