<li
  class="h-[500px] w-[300px] rounded-xl shadow-lg overflow-hidden bg-slate-700 text-slate-200 grid grid-rows-2"
>
  <img
    src="{{ car.imageUrl }}"
    alt="{{ car.brand }} - {{ car.model }}"
    class="w-full h-full object-cover"
  />

  <div class="grid items-center h-full px-4 py-6">
    <h3 class="font-semibold text-lg">{{ car.brand }} - {{ car.model }}</h3>

    <div class="flex flex-col justify-between gap-1">
      <p class="flex items-center">
        <mat-icon
          aria-hidden="false"
          aria-label="Icon of car's
          price per day"
          class="mr-2"
          >attach_money</mat-icon
        >
        <ng-container *ngIf="isAdmin && reservation; else elseTemplate1">
          {{ reservation.total | number : "1.0-0"
          }}<span class="text-sm ml-2">Ft</span>
        </ng-container>
        <ng-template #elseTemplate1>
          {{ car.price | number : "1.0-0"
          }}<span class="text-sm ml-2">Ft/nap</span>
        </ng-template>
      </p>
      <p class="flex items-center">
        <mat-icon
          aria-hidden="false"
          aria-label="Icon of car's
          release year"
          class="mr-2"
          >calendar_today</mat-icon
        >
        <ng-container *ngIf="isAdmin && reservation; else elseTemplate2">
          {{ reservation.start_date | date : "yyyy-MM-dd" }} -
          {{ reservation.end_date | date : "yyyy-MM-dd" }}
        </ng-container>
        <ng-template #elseTemplate2>
          {{ car.year }}
        </ng-template>
      </p>

      <p class="flex items-center">
        <mat-icon
          svgIcon="quantity"
          aria-hidden="false"
          aria-label="Icon of car's
          maximum passengers"
          class="mr-2"
        />
        <ng-container *ngIf="isAdmin && reservation; else elseTemplate3">
          {{ reservation.user_email }}
        </ng-container>
        <ng-template #elseTemplate3> {{ car.quantity }} férőhely </ng-template>
      </p>
    </div>

    <div class="flex justify-between">
      <button
        mat-flat-button
        *ngIf="isAdmin"
        (click)="openModifyDialog()"
        class="w-min mx-auto shadow-md"
      >
        Módosítás
      </button>
      <button
        mat-flat-button
        (click)="isAdmin ? onDelete() : openDialog()"
        class="w-min mx-auto shadow-md"
      >
        {{ isAdmin ? "Törlés" : "Foglalás" }}
      </button>
    </div>
  </div>
</li>
