<main class="flex flex-col items-center min-h-dvh">
  <h1>HOME</h1>

  <a
    href="#"
    class="btn btn-primary cursor-pointer"
    (click)="$event.preventDefault(); goToAdmin()"
    >Go to Admin</a
  >

  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <app-list />
</main>
