<div class="flex flex-col items-center">
  <app-hero>
    <div
      class="w-full h-full lg:w-2/3 lg:h-5/6 bg-slate-100 lg:rounded-2xl opacity-95 lg:p-10 p-10 flex lg:flex-row flex-col lg:justify-between justify-around items-center gap-10"
    >
      <div class="flex flex-col gap-4">
        <h1 class="text-6xl font-medium">Car Rental</h1>
        <p class="indent-2 opacity-80 font-medium">
          Szűrj dátum szerint, hogy megtudd, mely autók elérhetők!
        </p>
      </div>

      <div class="flex flex-col sm:flex-row gap-4 lg:flex-col lg:gap-0">
        <div>
          <mat-form-field>
            <mat-label>Dátum</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input
                matStartDate
                formControlName="start"
                placeholder="Kezdés"
              />
              <input matEndDate formControlName="end" placeholder="Vége" />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>

          <mat-error *ngIf="errMessage">
            {{ errMessage }}
          </mat-error>
        </div>

        <div class="text-right">
          <button
            mat-flat-button
            class="mt-5 w-full sm:w-fit"
            (click)="resetFilter()"
          >
            Törlés
          </button>
        </div>
      </div>
    </div>
  </app-hero>

  <app-list />
</div>
